body {
  background-color: black;
}

.wd-search-content {
  border: 1px solid rgb(47, 51, 54);
  display: flex;
  align-items: center;
}

.wd-input {
  background-color: darkgray;
  border-radius: 25px;
  padding: 20px;
  height: 10px;
  width: 100%;
}

input::placeholder {
  color: white;
}

.wd-gear {
  margin-left: auto;
  margin-right: 12px;
}

.wd-container {
  display: flex;
  border: 1px solid rgb(47, 51, 54);
}

.wd-link {
  color: rgb(110, 118, 125);
  font-size: 15px;
  padding: 16px;
  text-decoration: none;
}

.wd-link-hightlight {
  color: rgb(29, 161, 242);
  border-bottom: 2px solid rgb(29, 161, 242);
  padding: 16px;
  font-size: 15px;
  text-decoration: none;
}

.wd-breaker {
  height: 10px;
  background-color: rgb(47, 51, 54);
}

.wd-recommendation {
  padding: 10px 5px 10px;
  border: 1px solid rgb(47, 51, 54);
}

.wd-tuit-topic {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-tuit-number-of-tuits {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-tuit-title {
  color: white;
}

.wd-tuit-author {
  color: white;
}

.wd-tuit-date {
  font-size: 13px;
  color: rgb(110, 118, 125);
  margin-left: 5px;
}

.wd-tuit-container {
  display: flex;
  align-items: center;
  float: left;
}

.wd-tuit-content {
  color: white;
}

.wd-news-image {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: 16px;
}

.wd-flex {
  display: flex;
}

.wd-flex-col {
  display: flex;
  flex-direction: column;
}
